<HTML>
<HEAD>
	<TITLE>
		MyShop
	</TITLE>
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
	<link rel="stylesheet" href="/stylesheets/home.css">
</HEAD>
<BODY>
	<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">The Fitness Store</a>
    </div>
   
   
      <ul class="nav navbar-nav navbar-left">
        <li><a href="/items">Our Products</a></li>
      </ul>
      <form class="navbar-form navbar-left" action="/items" method="GET">
            <div class="input-group">
            <input type="text" class="form-control" id ="search" name="search"   placeholder="Search our store">
            <span class="input-group-btn">
              <button class="btn btn-default submit" type="submit">Search</button>
            </span>
          </div>
        </form>
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/cart"><i class="fas fa-shopping-cart"></i><%=" "%>Cart</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user"></i>
          <%if(currentUser){%> 
            <%="Hi, "+currentUser.firstName%>
          <% }else{%>
             User Management
          <% }%> 
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
          	<% if(!currentUser){%>
          	<li><a href="/login">Login </a></li>
            <li><a href="/register">SignUp</a> </li>
            <% }else{%>
            <li><a href="/logout">Logout </a></li>
            <% if(currentUser.isAdmin){%>
              <li><a href="/items/new">Add new item</a></li>
              <% }%>
              <% }%>
            <li><a href="/contact">Contact Us</a></li>
          </ul>
        </li>
      </ul>
    </div>
</div>
</nav>


<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div id="content">
                <h1>The Fitness Store</h1>
                <h3>The one stop to all of your fitness needs</h3>
                <hr>
                <a  class="btn btn-success btn-lg" href="/items">View Products</a>    
            </div>
        </div>
    </div>
</div>


<% include partials/footer %>
